- name: Copy Binary
  win_copy:
    src: "{{ scripts_ansible_location }}/CCDC-Password-Manager.exe"
    dest: "{{ scripts_path }}\\tools\\CCDC-Password-Manager.exe"
    remote_src: false

- name: Register Service
  ansible.windows.win_shell: New-Service -name 'CCDC Password Manager' -BinaryPathName '{{ scripts_path }}\\tools\\CCDC-Password-Manager.exe' -DisplayName 'CCDC Password Manager' -Description 'CCDC Password Manager' -Startuptype Automatic
  args:
    no_profile: true

- name: Make Directory for conf files
  ansible.windows.win_file:
    path: "C:\\Program Files\\CCDC-Password-Manager"
    state: directory
    mode: '0644'

- name: Insert data in conf files
  ansible.windows.win_copy:
    content: |
      "{{ password_manager_ip }}"
    dest: "C:\\Program Files\\CCDC-Password-Manager\\server_ip_address.txt"
    mode: '0644'
    force: yes

- name: Create token file
  ansible.windows.win_file:
    path: "C:\\Program Files\\CCDC-Password-Manager\\token.txt"
    state: touch
    force: yes

- name: Start Service
  ansible.windows.win_shell: Start-Service -name 'CCDC Password Manager'
  args:
    no_profile: true