- name: Run Backup Script
  win_shell: |
    .\backup.ps1 -adfspasswd "{{ adfs_backup_password }}"
  args:
    chdir: "{{ scripts_path }}\\scripts"
    no_profile: true

- name: Set IP address variable
  set_fact:
    ip_address: "{{ ip_output.stdout_lines[0] }}"

- name: Run Firewall Script
  win_shell: |
    .\firewall.ps1 -ExtraRules httpio,httpsio,{{ scored_services }} -runByAnsible $true -siemIP "{{ siem_IP }}" -siemName "{{ siem_Name }}" -passmgrIP "{{ password_manager_ip }}" -stabvestIP "{{ stabvest_ip }}" -ansibleIP "{{ ip_address }}"
  args:
    chdir: "{{ scripts_path }}\\scripts"
    no_profile: true
