- name: Run Backup Script
  win_shell: |
    .\backup.ps1 -adfspasswd "{{ adfs_backup_password }}"
  args:
    chdir: "{{ scripts_path }}\\scripts"
    no_profile: true

- name: Run Firewall Script
  win_shell: |
    .\firewall.ps1 -ExtraRules httpio,httpsio,{{ scored_services }} -runByAnsible $true -addIpsFromFile "datadog_ips.txt",443 -siemIP "{{ siem_IP }}" -siemName "{{ siem_name }}" -passmgrIP "{{ password_manager_ip }}" -stabvestIP "{{ stabvest_ip }}" -ansibleIP "{{ winrm_ip }}"
  args:
    chdir: "{{ scripts_path }}\\scripts"
    no_profile: true
