---
- name: Check for IIS response
  hosts: web

  sources:
    - name: monitor_iis
      ansible.eda.url_check:
        urls:
          - http:/ip_addr:80  # multiple urls supported
        delay: 30 
        verify_ssl: false

  rules:
    - name: W3SVC is down, restart a service
      condition: event.url_check.status == "down" 
      action:
        run_playbook:
          extra_vars:
            status: "{{ event.url_check.status | default('unknown') }}"
            status_code: "{{ event.url_check.status_code | default('unknown') }}"
          name: playbooks/eda/fix_iis.yml